.body{
    background-color: #ffffff;
   width: 100%;
   text-decoration: none;
}



#img{
    width: 30%;

}
#main-div{
    width: 100%;
    margin: auto;
   

    background: #fafaff;
   


}






#projects img,#stats img{
    width: 40%;
}


/**  top -section */

#nav-menu{
   position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;

    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    

}

#nav-menu a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    margin: auto;

}
#menu-content{
   width: 60%;
    display: flex;
    justify-content: space-between;

    

}



#home{

    display: flex;
    margin-left: 20%;
     padding-top: 15%;
    
    padding-bottom: 5%;
}
#home > div{
    width: 35%;
    font-size: 20px;
}
#home button{
    background-color: black;
    color: #fafaff;
    width: 160px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
}


.home-img{
   margin-left: 50%;
    height: 350px;
    border: solid 1px white;
    border-radius: 250px;

}



/* about section starts */




#about{
    padding-top: 10%;
   
    text-align: center;
    width: 60%;
    margin: auto; 
   
}

#about-content{
    background-color: #94bd94;
    padding: 7%;
    width: 100%;
    text-align: center;
    

    
}




/*  skills -section start */


#skills{

    


    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 10%;

}
#skills-div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    padding-top: 1%;

}

.skills-card{
    width: 80%;
    height: 10%;
    margin: auto;
    box-shadow:  rgba(0, 0, 0, 0.15) 0px 5px 15px 0px
}

.skills-card-img{
    width: 70%;
    padding-top: 10%;
}


/*  skills -section start */


#projects,#stats,.nav-link contact{
    text-align: center;
    width: 60%;
    margin: auto;

}

#projects{
    padding-top: 8%;
}


.project-card{

    border: 10px solid black;
    display: flex;
    margin:auto
}



#contact{

    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 15%;

}

#contact-content{
   padding-top: 5%;
}