body{
  margin: 0px !important;

}
#img{
    width: 30%;
}
#main-div{
    width: 100%;
    margin: auto;
   
    background: #fafaff;
   
}
#projects img,#stats img{
    width: 40%;
}
/**  top -section */
#nav-menu{
   position: fixed;
    width: 100% ;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin: 0px !important;
    box-sizing: border-box;
    background-color: #fafaff;

    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0,0,0,.2);


}

    
          
            
    

          
         
    

  
#nav-menu a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
#menu-content {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 100%;
  padding-top: 2%;
}
.nav-link {
  margin-right: 10px;
}
#menu-toggle{
    display: none;
}
#menu-content a{
  margin: 0px !important;
}

#home{
    box-sizing: border-box;
    display: flex;
    margin-left: 20%;
     padding-top: 15%;
    
    padding-bottom: 5%;
}
#home > div{
    width: 35%;
    font-size: 20px;
}
#home button{
    background-color: black;
    color: #fafaff !important;
    width: 160px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
}
.home-img{
    padding-left: 20%;
    height: 350px;
    border: solid 1px white;
    border-radius: 250px;
}
/* about section starts */
#about{
    padding-top: 10%;
   
    text-align: center;
    width: 70%;
    margin: auto; 
   
}
#about-content{
    background-color: #94bd94;
 
    padding-top: 7%;
    width: 100%;
    padding-bottom: 2%;
    text-align: center;
    
    
}
/*  skills -section start */

#skills{

    


    text-align: center;

  
    width: 70%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 5%;
}
#skills-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    padding-top: 1%;
    background-color: black;
    
}
.skills-card{
    width: 80%;
    margin: auto;
    box-shadow:  rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding-bottom: 3%;
    color: #fafaff;
    
}
.skills-card-img{
    width: 50%;
    padding-top: 10%;
    transform: scale(1.1);
    transition: transform 0.9s;
}
/*  skills -section end */
#projects,#stats,.nav-link {
    text-align: center;
    width: 70%;
    margin: auto;
}
#projects{
    padding-top: 8%;
}
#projects img,#stats img{
  width: 30%;
}
.project-card{
   
    display: flex;
    margin:auto;
    padding-top: 6%;
   
}
.project-card img{
    border: 5px solid black;
    border-radius: 30px;
}
.project-card:hover img {
    transform: scale(1.1);
    transition: transform 0.9s; /* Zoom in effect: adjust the scale value as desired */
  }
.project-card button{
    width: 80px;
    height: 25px;
    background-color:black ;
   
}
.project-card a {
    color: #ffffff;
    text-decoration: none;
}
#contact{
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 4%;
    color: #ffffff;
    background-color: black;
  
}
#contact-content{
  font-size: 25px;
   padding-bottom: 2%;
}
#contact-content a{
    color: #ffffff;
    text-decoration: none;
}











  @media only screen and (min-width:769px) and (max-width: 1280px) {

    #nav-menu{

        width: 100%;
        font-size: 16px;

  }

  #home{

    width: 96%;
    margin-left: 4%;
    font-size: 16px;

  }
  #home a{
    font-size: 16px;
    margin-left: 2%;
  }
  #menu-content{
    width: 75%;
  }
  #about{
    width: 100%;
    box-sizing: border-box;
  }
  #skills{
    width: 100%;
  }
  #projects{
    width: 100%;
  }

}




    
        
          
   
  



@media only screen and (max-width: 768px) {

  #nav-menu{  
  
        width:100vw;
        font-size: 12px;
        /* margin: auto; */
        margin: 0px;
        padding: 0px;
  }
  #home{
    width: 96%;
    margin-left: 4%;
    font-size: 12px;
  
   
  }
  #home a{
    font-size: 12px;
    margin-left: 2%;
  }
 
  #menu-content {
    display: none;
  }
  
  #menu-content.show {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background-color:black;
    width: 100%;
    
  }
  #nav-menu a{
    color: #fafaff;
    font-size: 16px;
  }
  
  .nav-link {
    display: block;
    margin: 5px 0;
  }
  #menu-toggle{
    display: block;
}
   
  #about{
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    margin: 0px;
    padding-left: 1%;
    padding-right: 1%;
    
  }
  #skills{
    width: 100%;
    font-size: 12px;
  }
  #projects{
    width: 100%;
    padding: 0px;
    margin: 0px;
   
  }
  #contact-content{
    font-size: 12px;
    
  }
  #home > div{
    font-size: 10px;
}
#home button{
    width: 100%;
    font-size: 10px;
}
.home-img{
    width: 100%;
    height: 100%;
}
  
}


.project-card{
   
  display: block;

 
}
#projects img{
  width: 80%;
}

.container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
/* Fade out the second bar */
.change .bar2 {opacity: 0;}
/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}